.git
.gitignore
.pytest_cache
__pycache__
.mypy_cache
.venv
venv
.env
.env.*
.envrc
!.env.example
!.env.docker.example
.netrc
.npmrc
frontend/.npmrc
pip.conf
frontend/node_modules
frontend/dist
node_modules
output
projects
docs/assets
